@{
    Layout = "";
}

@using Aeero.Models
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/css")

    <title>Logg inn | AEERO</title>
</head>
<body class="bg-red">
    <div id="loginLogo">
        @Html.Partial("_Logo", "/")
    </div>
    <section id="loginForm" class="well">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Brukernavn" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Passord" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="form-group">
                <input type="submit" value="Logg inn" class="btn btn-primary btn-block" />
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
        }
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>