<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")

    <title>@ViewBag.Title - Touch</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Vis/skjul meny</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    @Html.Partial("_Logo", "/Touch/Home")
                </div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li@(Request.Path == Url.Action("NewOrder", "Home") ? " class=active" : "")><a href="@Url.Action("NewOrder", "Home")">Opprett ordre</a></li>
                    <li@(Request.Path == Url.Action("Index", "Home") ? " class=active" : "")><a href="@Url.Action("Index", "Home")">Nye ordre</a></li>
                    <li@(Request.Path == Url.Action("Preparation", "Home") ? " class=active" : "")><a href="@Url.Action("Preparation", "Home")">Baking</a></li>
                    <li@(Request.Path == Url.Action("Oven", "Home") ? " class=active" : "")><a href="@Url.Action("Oven", "Home")">Steking</a></li>
                    <li@(Request.Path == Url.Action("Ready", "Home") ? " class=active" : "")><a href="@Url.Action("Ready", "Home")">Henting</a></li>
                    <li@(Request.Path == Url.Action("Delivery", "Home") ? " class=active" : "")><a href="@Url.Action("Delivery", "Home")">Levering</a></li>
                    <li@(Request.Path == Url.Action("Done", "Home") ? " class=active" : "")><a href="@Url.Action("Done", "Home")">Ferdige</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_UserPartial", new {area = ""})
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="main">
        @RenderBody()
    </div>
</body>
</html>