<div class="list-group">
    <a href="@Url.Action("NewOrder", "Home")" class="list-group-item">Opprett ordre</a>
    <a href="@Url.Action("NewOrders", "Home")" class="list-group-item active">OrdreListe</a>
    <a href="@Url.Action("Preparation", "Home")" class="list-group-item active">Baking</a>
    <a href="@Url.Action("Oven", "Home")" class="list-group-item active">Ovn</a>
    <a href="@Url.Action("NewOrders", "Home")" class="list-group-item active">Nye ordre</a>
</div>
